@{
    ViewData["Title"] = "Novo Ticket";
}
@model Ticket

<div class="col-xxl-7 offset-xxl-2 text-start" style="text-align: left;">
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bol color-red-pattern"><b>Descrição do ticket</b></p>
        </div>
        <div class="card-body">
            <form asp-action="AberturaDeTicket" asp-antiforgery="true" method="post">
                <div class="mb-3"><label class="form-label" for="address"><strong>Assunto:</strong></label><input class="form-control" asp-for="assunto" type="text" id="address" placeholder="Assunto"></div>
                <div class="mb-3">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label" for="city"><strong>Categoria:</strong></label><select class="form-select">
                                <optgroup label="Categoria">
                                    <option value="1" selected="">Acesso a notas (trabalhos/provas)</option>
                                    <option value="2" selected="">Acesso a trabalhos/provas</option>
                                    <option value="3" selected="">Acesso a contéudo</option>
                                </optgroup>
                            </select>
                        </div>
                        <label class="form-label" for="city"><strong>Problema impacta prazo de entrega?</strong></label>
                        @Html.DropDownList("t1", new List<SelectListItem> {
                            new SelectListItem(){ Text="Sim", Value="1"},
                            new SelectListItem(){ Text="Não", Value="0"}
                            },
                       "", new { @class = "form-select" })
                        <label class="form-label" for="city"><strong>Problema impede de realizar um processo?</strong></label>
                        @Html.DropDownList("t2", new List<SelectListItem> {
                            new SelectListItem(){ Text="Sim", Value="1"},
                            new SelectListItem(){ Text="Não", Value="0"}
                            },
                        "", new { @class = "form-select" })
                        <label class="form-label" for="city"><strong>Problema permite realizar tarefa de maneira paleativa?</strong></label>
                        @Html.DropDownList("t3", new List<SelectListItem> {
                            new SelectListItem(){ Text="Sim", Value="1"},
                            new SelectListItem(){ Text="Não", Value="0"}
                            },
                        "", new { @class = "form-select" })
                        <div class="mb-3"><label class="form-label" for="city"><strong>Descrição:</strong></label><textarea id="descricao" class="form-control" asp-for="descricao"></textarea></div>
                    </div>
                </div>
                <button class="btn btn-primary btn-sm" type="submit" onclick="obtemPrioridade()">Salvar</button>
            </form>
        </div>
    </div>
</div>