@{
    ViewData["Title"] = "Criar Ticket";
}
<div class="col-xxl-7 offset-xxl-2 text-start" style="text-align: left;">
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Descrição do ticket</p>
        </div>
        <div class="card-body">
            <form>
                <div class="mb-3"><label class="form-label" for="address"><strong>Assunto:</strong></label><input class="form-control" type="text" id="address" placeholder="Assunto" name="address"></div>
                <div class="mb-3">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label" for="city"><strong>Categoria:</strong></label><select class="form-select">
                                <optgroup label="Categoria">
                                    <option value="12" selected="">Prova</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="mb-3"><label class="form-label" for="city"><strong>Descrição:</strong></label><textarea class="form-control"></textarea></div>
                    </div>
                </div>
            </form><button class="btn btn-primary btn-sm" type="submit">Salvar</button>
        </div>
    </div>
</div>