@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <h3 class="text-dark mb-4">Lista de Tickets</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold"></p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                        <label class="form-label">
                            Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                <option value="10" selected="">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>&nbsp;
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Ticket</th>
                            <th>Assunto</th>
                            <th>Responsável</th>
                            <th>Data de Abertura</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#08781</td>
                            <td>Accountant</td>
                            <td><img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/avatar1.jpeg">Marcos Vianey</td>
                            <td>2008/11/28</td>
                            <td>Aberto</td>
                        </tr>
                        <tr>
                            <td>#08782<br></td>
                            <td>Chief Executive Officer(CEO)</td>
                            <td><img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/avatar2.jpeg">Bibinha Marcos</td>
                            <td>2009/10/09<br></td>
                            <td>Aberto</td>
                        </tr>
                        <tr>
                            <td>#08783<br></td>
                            <td>Junior Technical Author</td>
                            <td><img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/avatar3.jpeg">50 Cent</td>
                            <td>2009/01/12<br></td>
                            <td>Aberto</td>
                        </tr>
                        <tr>
                            <td>#08784</td>
                            <td>Software Engineer</td>
                            <td><img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/avatar4.jpeg">Ateuzinho</td>
                            <td>2012/10/13<br></td>
                            <td>Aberto</td>
                        </tr>
                        <tr>
                            <td>#08785</td>
                            <td>Software Engineer</td>
                            <td><img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/avatar5.jpeg">Crente Penteca</td>
                            <td>2011/06/07<br></td>
                            <td>Aberto</td>
                        </tr>
                        <tr>
                            <td>#08786</td>
                            <td>Integration Specialist</td>
                            <td><img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/avatar1.jpeg">Phablo Lindo</td>
                            <td>2012/12/02<br></td>
                            <td>Aberto</td>
                        </tr>
                        <tr>
                            <td>#08787</td>
                            <td>Software Engineer</td>
                            <td><img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/avatar2.jpeg">Michael Quadrado<br></td>
                            <td>2011/05/03<br></td>
                            <td>Aberto</td>
                        </tr>
                        <tr>
                            <td>#08788</td>
                            <td>Pre-Sales Support</td>
                            <td><img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/avatar3.jpeg">Angola Boy</td>
                            <td>2011/12/12<br></td>
                            <td>Aberto</td>
                        </tr>
                        <tr>
                            <td>#08789</td>
                            <td>Sales Assistant</td>
                            <td><img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/avatar4.jpeg">Thiguinha lindo</td>
                            <td>2011/12/06<br></td>
                            <td>Aberto</td>
                        </tr>
                        <tr>
                            <td>#08790</td>
                            <td>Senior JavaScript Developer</td>
                            <td><img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/avatar5.jpeg">Tchola</td>
                            <td>2012/03/29<br></td>
                            <td>Aberto</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div class="col">
                    <nav class="text-center d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>